@import '../../global.variables';

.About_Container {
  background: #2b2b2b;
  color: white;
  width: 100%;
  height: max-content;
  @include displayFlex(column, $cent, $cent);

  & .About_Title {
    @include displayFlex(column, $cent, $cent);
    gap: 5rem;
    margin: 1.5rem 0;
    animation: GameBoy 1s linear infinite;
    & h1, h3 {
      font-family: "Press Start 2P", system-ui;
      @include strokeTextConfig(1, white, deeppink);
    }
  }

}

@keyframes GameBoy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}