@import '../../global.variables';

.Link {
  text-decoration: none;
  color: black;
}

:visited {
  color: black;
}

.Title {
  -webkit-text-stroke: 1px white;
}

.Character_Cyborg {
  background-image: url('../../../Images/typesOfCharacter/LabCyborg.png');
  width: 100%;
  background-color: black;
  display: $flex;
  justify-content: flex-start;
  align-items: flex-start;
  @include box-shadow(4, #393939);
  margin-bottom: .5rem;

  & .Character_W {
    display: $flex;
    justify-content: $cent;
    align-items: $cent;
    width: 7rem;
    animation: walk 10s linear infinite;
  }
}

.Contain_Info_Cyborg {
  width: 85%;

  @include displayFlex(column, center, center);

  & .Specs {
    position: relative;
    width: 100%;
    color: white;
    background-color: silver;
    @include displayFlex(row, space-around, center);
    @include box-shadow(4, #393939);
    margin: 0 0 .5rem;
  }
  & .Description {
    text-align: justify;
    padding: 1rem;
    @include box-shadow(4, #393939);
    background-color: lightblue;
  }

  & .Button_Character {
    margin: 1rem 0;
    & .GoLab {
      font-size: 2rem;
      border: none;
      @include box-shadow(4, black);
      background-color: goldenrod;
    }:hover { background-color: orange; transition: 1.5s ease;}
  }
}

@keyframes walk {
  0% {
    transform: translateX(0%) scaleX(1);
  }

  50% {
    transform: translateX(1000%) scaleX(1);
  }

  51% {
    transform: translateX(1000%) scaleX(-1);
  }

  100% {
    transform: translateX(0%) scaleX(-1);
  }
}

@include media-queries-md {
  .Character_Cyborg {
    width: 100%;
    background-image: url("../../../Images/typesOfCharacter/LabCyborg.png");
    display: $flex;
    justify-content: flex-start;
    align-items: flex-start;

    & .Character_W {
      display: $flex;
      justify-content: $cent;
      align-items: $cent;
      width: 7rem;
      animation: walk_MD 7s linear infinite;
    }
  }

  @keyframes walk_MD {
    0% {
      transform: translateX(0%) scaleX(1);
    }

    50% {
      transform: translateX(500%) scaleX(1);
    }

    51% {
      transform: translateX(500%) scaleX(-1);
    }

    100% {
      transform: translateX(0%) scaleX(-1);
    }
  }
}

@include media-queries-sm {
  .Character_Cyborg {
    width: 100%;
    background-image: url("../../../Images/typesOfCharacter/LabCyborg.png");
    display: $flex;
    justify-content: flex-start;
    align-items: flex-start;

    & .Character_W {
      display: $flex;
      justify-content: $cent;
      align-items: $cent;
      width: 7rem;
      animation: walk_SM 5s linear infinite;
    }
  }

  @keyframes walk_SM {
    0% {
      transform: translateX(0%) scaleX(1);
    }

    50% {
      transform: translateX(250%) scaleX(1);
    }

    51% {
      transform: translateX(250%) scaleX(-1);
    }

    100% {
      transform: translateX(0%) scaleX(-1);
    }
  }
}





