@import '../../global.variables';

.Slogan {
  background-image: url("../../../Images/Background_project_Home.gif");
  background-size: cover;

  @include displayFlex(column, $cent, $cent);
  width: 100%;
  max-height: 100vh;

  & .Slogan_Container {
    @include displayFlex(column, $cent, $cent);
    height: 100vh;

    & .Title_Image {
      width: 50rem;
      height: 25rem;
    }

    & .Character_BG {
      position: $abs;

      &:first-child {
        width: 8rem;
        left: 0;
        bottom: 20%;
      }

      &:nth-child(2) {
        width: 8rem;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -50%); // Centra la imagen en el medio
      }

      &:nth-child(3) {
        width: 8rem;
        right: 10%;
        bottom: 15%;
      }
    }

    & .Btn-Link {
      position: $abs;
      text-align: center;
      font-family: "Press Start 2P", system-ui;
      top: 50%;
      width: 10rem;

      &:first-child {
        left: 50%;
      }

      &:last-child {
        right: 50%;
      }
    }
  }
}