@import '../../global.variables';

.Slogan {
  background-image: url("../../../assets/Page_Assets/Background_project_Home.gif");
  background-size: 125vw 100vh;
  background-repeat: repeat;
  min-height: 100vh;
  @include displayFlex(column, $cent, $cent);
  min-width: 150vw;

  & .Slogan_Container {
    @include displayFlex(column, $cent, $cent);

    & .Title_Image {
      position: $abs;
      top: 10%;
      width: 50rem;
      height: 25rem;
    }

    & .Character_BG {
      position: $abs;

      &:first-child {
        width: 8rem;
        left: 0;
        bottom: 20%;
      }

      &:nth-child(2) {
        width: 8rem;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        width: 8rem;
        right: 10%;
        bottom: 15%;
      }
    }

    & .Btn-Link {
      position: $abs;
      text-align: center;
      font-family: "Press Start 2P", system-ui;
      top: 50%;

      &:first-child {
        left: 50%;
        width: 15rem;
      }

      &:last-child {
        right: 50%;
        width: 15rem;
      }
    }
  }
}