@import '../../global.variables';

.Slogan {
  @include displayFlex(column, $cent);
  position: $rel;
  width: 100%;
  height: 70vh;

  & .Slogan_Container {

    & .Slogan_Title {
      @include strokeTextConfig(1 ,#fff, #000);
      position: $abs;
      top: 0;
      left: 25%;
      font-size: 4rem;
    }
  }
}