@import '../../global.variables';

.Profile_Container {
  @include displayFlex(column, $cent, $cent);
  background-image: url("src/Images/VillageUserProfile.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 115vh;
  width: 100%;

  & .Profile_Body {
    position: relative;
    @include displayFlex(column, $cent, $cent);
    min-height: 80vh;
    min-width: 80vh;
    border-radius: .25rem;
    @include box-shadow(3, black);
    backdrop-filter: blur(5rem);

    & .Profile_Pic {
      position: absolute;
      top: 5%;
      left: 5%;
    }

    & .User_Creds {
      @include displayFlex(row, space-around, $cent);
      gap: 5rem;
      border: 1px solid black;
      min-width: 50vw;
    }
    & .User_Bio {
      @include displayFlex($cent, $cent);
      min-height: 20vh;
    }
    & .User_Stats {
      @include displayFlex(column, $cent, $cent);
      min-width: 50vw;
      gap: 5rem;
      border: 1px solid black;
      font-family: "Press Start 2P", system-ui;
    }

  }

}