@import '../global.variables';

.Container_Info {
  background: #2b2b2b;
  color: white;
  @include displayFlex(row, space-around, $cent);
  width: 100%;
  min-height: 100vh;
   & .Card_Container {
     @include displayFlex($cent, $cent);
     width: 100%;
     flex-wrap: wrap;
     gap: 3rem;
     & .Card {
       @include displayFlex(column, $cent, $cent);
       gap: 3.5rem;
       width: 33.3%;
       height: 10rem;
       box-shadow: -2px 0 0 white, 2px 0 0 white, 0 -2px 0 white, 0 2px 0 white;
       &:hover {
         transform: translate(0, -0.5rem);
       }
       & .icons {

         & a {

           & .pixel_art {

           }
         }
       }
     }
   }
}