.nes-btn {
    border-image-source: url("../../Images/ButtonBorder.svg");
    height: 3rem;
    position: relative;
    width: 15rem !important;
    border-style: solid;
    border-width: 4px;
    border-image-outset: 2;
    border-image-slice: 2;
    border-image-width: 2;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 2.5rem .5rem;
}

.nes-btn.is-warning {
    color: #212529;
    background-color: #f7d51d;
    width: 10rem;
    font-family: "Consolas", system-ui;
    border-image-repeat: stretch !important;
    text-decoration: none;

    &::after {
        position: absolute;
        inset: -4px;
        content: "";
        box-shadow: inset -4px -4px #e59400;
    }

    &:hover {
        color: #212529;
        text-decoration: none;
        background-color: #ff9100;
    }

    &:hover::after{
        position: absolute;
        inset: -4px;
        content: "";
        box-shadow: inset -4px -4px gold;
    }
}


.link {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}