@import '../../global.variables';

.Grid_Cards {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: auto;
  gap: 2rem;

  .Craft_Description:nth-child(-1n + 2) {
    grid-column: 1 / span 3;
  }
  animation: appear 1.5s ease-in-out;
}


.Craft_Description {
  @include displayFlex(column, flex-start, center);
  backdrop-filter: blur(3rem);
  @include box-shadow(3, black);
  max-width: 60vw;

  & .Description_Title {
    margin: .5rem;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    @include strokeTextConfig(1, white, deeppink);

  }

  & .Description_Info {
    margin: 1rem;
    max-width: calc(100% - 6px);
    font-size: 1rem;
  }

  & .PlayerGoButton {
    border-image-source: url("../../../Images/ButtonBorder.svg");
    height: 3rem;
    position: relative;
    width: 7rem !important;
    border-style: solid;
    border-width: 4px;
    border-image-outset: 2;
    border-image-slice: 2;
    border-image-width: 2;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #212529;
    background-color: blueviolet;
    border-image-repeat: stretch !important;
    text-decoration: none;

    &::after {
      position: absolute;
      inset: -4px;
      content: "";
      box-shadow: inset -4px -4px rebeccapurple;
    }

    &:hover {
      color: #212529;
      text-decoration: none;
      background-color: rebeccapurple;
    }

    &:hover::after{
      position: absolute;
      inset: -4px;
      content: "";
      box-shadow: inset -4px -4px blueviolet;
    }
  }

}

@keyframes appear {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
