@import '../global.variables';
@include inputChange('text', 10, 10, black, none, white, none, .5);
ul {
  list-style: none;
}
.Craft_Player {
  input[type='text'] {
    position: absolute;
    top: 30%;
    font-size: 1.2rem;
    width: 10rem;
    padding: .5rem;
  }

  @include displayFlex(column, center, center);
  position: $rel;
  border-radius: .25rem;
  min-width: calc(100vw);
  min-height: calc(100vh);
  background-image: url("src/Images/Lab_Background.gif");
  background-size: cover;
  padding: .5rem;

  & .Form {
    border: 3px solid black;
    @include displayFlex(column, center);
    @include box-shadow(4, #8a7b0d);
    min-width: calc(50vw);
    & label {
      @include strokeTextConfig(1, dimgray, rebeccapurple);
      animation: ColorStrokeTransition 2s alternate infinite;
      font-family: "Press Start 2P", serif;

      &:first-child {
        position: $abs;
        top: 10%;
      }

      &:nth-child(n - 2) {
        position: $abs;
        bottom: 30%;
      }
    }

    font-size: 3.5rem;

    & select {
      position: $abs;
      bottom: 15%;
      padding: .5rem;
      width: 50%;
      font-size: $s-size;
      font-family: "Press Start 2P", system-ui;
      @include strokeTextConfig(0.5, #202020, #202020);
      animation: none;
    }
  }

}

.Create_Player {
  position: $abs;
  bottom: -02rem;
  font-size: 1.5rem;
  padding: .5rem;
  font-family: "Press Start 2P", system-ui;
  box-shadow: -3px 0 0 0 black,
  3px 0 0 0 black,
  0 -3px 0 0 black,
  0 3px 0 0 black;
}

@keyframes ColorStrokeTransition {
  from {
    -webkit-text-stroke: 1px white;
  }

  to {
    -webkit-text-stroke: 1px rebeccapurple;
  }
}