@import '../global.variables';
@import '../ICON_SHAPES/ICONS_MATRIX';

.Form_SignIn {
  position: $rel;
  width: 100%;
  min-height: 80vh;
  @include displayFlex(column, $cent);
  background-image: url("src/Images/pixel-night.gif");
  background-size: cover;

  gap: 5rem;

  & .Form_Title {
    font-family: "Press Start 2P", system-ui;
    @include strokeTextConfig(1, black, #fd9b2d);
    font-size: 4rem;
  }
  & .Body_Form_SI {

    @include displayFlex(column, $cent, $cent);
    gap: 2.5rem;
    @include box-shadow(5, white);
    padding: .5em;
    width: 50%;
    height: 80vh;
    backdrop-filter: blur(0.5rem);

    & label {
      font-family: "Press Start 2P", system-ui;
      font-size: 2rem;
      @include strokeTextConfig(2, white, deeppink)
    }
  }

  & button {
    position: $abs;
    bottom: 5%;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: "Press Start 2P", system-ui;
    @include strokeTextConfig(1, white, black);
    background: rebeccapurple;
    @include box-shadow(2, white);
  }
}
