@import '../global.variables';
@import '../ICON_SHAPES/ICONS_MATRIX';

.Form_SignIn {
  position: $rel;
  width: 100%;
  min-height: 100vh;
  @include displayFlex(column, $cent);
  background-image: url("src/Images/pixel-night.gif");
  background-size: cover;

  & .Form_Title {
    font-family: "Press Start 2P", system-ui;
    @include strokeTextConfig(1, black, #fd9b2d);
    font-size: 4rem;
    animation: ColorStrokeTransition 2s alternate infinite;
  }
  & .Body_Form_SI {
    @include displayFlex(column, start, $cent);
    gap: 1.2rem;
    margin: 5rem 0 0 0;
    @include box-shadow(5, white);
    width: 40vw;
    height: 35vh;
    backdrop-filter: blur(0.5rem);
    color: white;

    & label {
      font-family: "Press Start 2P", system-ui;
      font-size: 2rem;
    }
    & .Label_Div {
      @include displayFlex(row, $cent, flex-start);
      width: auto;
      margin: 1rem 0 0 0;
    }
  }

  & button {
    border-image-source: url("../../Images/ButtonBorder.svg");
    height: 3rem;
    position: relative;
    width: 15rem !important;
    border-style: solid;
    border-width: 4px;
    border-image-outset: 2;
    border-image-slice: 2;
    border-image-width: 2;
    bottom: 5%;
    position: $abs;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: "Press Start 2P", system-ui;
    @include strokeTextConfig(1, white, black);
    background: rebeccapurple;
    @include box-shadow(2, white);

    &::after {
      position: absolute;
      inset: -4px;
      content: "";
      box-shadow: inset -4px -4px #442c60;
    }

    &:hover {
      background: #442c60;
    }
    &:hover::after {
      box-shadow: inset -4px -4px rebeccapurple;
    }
  }
  @keyframes ColorStrokeTransition {
    from {
      -webkit-text-stroke: 1px white;
    }

    to {
      -webkit-text-stroke: 1px gold;
    }
  }
}


