@import '../global.variables';
@include inputChange(text, 10, 10, black, none, whitesmoke, none, .5);
@include inputChange(password, 10, 10, black, none, whitesmoke, none, .5);
@include inputChange(email, 10, 10, black, none, whitesmoke, none, .5);
.Form {
  position: $rel;
  width: 30rem;
  height: 40rem;
  background: #202020;
  border-radius: .5rem;
  overflow: hidden;
  @include displayFlex(column, $cent, $cent);
  z-index: 2;

  &::before {
    content: '';
    position: $abs;
    background: linear-gradient(0deg, #e123f6, #c49aff, #6b00ff);
    transition: 800ms;
    inset: -500px 500px;
    z-index: -1;
  }
  &:hover::before {
    inset: -100px 100px;
    transition: 500ms;
    animation: rotate 4s ease forwards;
    box-shadow: 0 0 2rem deeppink, 0 0 2rem #e123f6, 0 0 2rem #c49aff;
  }
  &::after {
    content: '';
    position: $abs;
    background-color: #202020;
    width: 99%;
    height: 99%;
    z-index: -1;
  }
  & .Form_Title {
     @include strokeTextConfig(1, indigo, gold);
     font-size: 2.5rem;
     position: $abs;
     top: 5%;
   }
  & .Body_Form {
     @include displayFlex(column, $cent, $cent);
     height: max-content;
     margin: 5rem 0;
     color: white;
    & :first-child {
      position: $abs;
      top: 25%;
    }
    & :nth-child(3) {
      position: $abs;
      top: 36%;
    }
  }
}