@import '../styles/global.variables';

.RenderedPlayerCrafted {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  & .Card_Player {
    width: 20rem;
    @include displayFlex(column, center, center);
    overflow: hidden;
    position: $rel;
    border: solid 2px black;
    border-radius: .15rem;
    padding: 2.5rem;
    box-shadow: -3px 0 0 0 black,
     3px 0 0 0 black,
     0 -3px 0 0 black,
     0 3px 0 0 black;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(0deg, #e123f6, #c49aff, #6b00ff);
      transition: 800ms;
      inset: -500px 500px;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: #202020;
      width: 99%;
      height: 99%;
      z-index: -1;
    }

    &:hover::before {
      inset: -100px 130px;
      transition: 500ms;
      animation: rotate 4s linear infinite;
      box-shadow: 0 0 2rem deeppink, 0 0 2rem #e123f6, 0 0 2rem #c49aff;
    }

    & .Specs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      gap: 1.5rem;



      & .List {
        width: 100%;
        height: 100%;
        font-size: medium;
        color: $human;
        font-family: "Press Start 2P", system-ui;

        & .First_Word_Type {
          color: rebeccapurple;
          font-family: "Press Start 2P", system-ui;
        }


         & .Button_Card {
          @include displayFlex(row, center);
           gap: 1.5rem;
           transform: translateX(4%) translateY(30%);

          & .Delete_Player{
            @include pixelButton(3px, 4rem, 2rem, gold, 0.6rem);
          }

          & .Show_Info {
            margin: 1rem;
            @include pixelButton(3px, 4rem, 2rem, gold, 0.7rem);

            & .Link {
              text-decoration: none;
              color: black;
              font-family: "Press Start 2P", system-ui;
            }

            :visited {
              color: black;
            }
          }
        }
      }
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(-180deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

