@import '../global.variables';


.Profile {
  @include displayFlex(column, $cent, $cent);
  min-width: 50vw;
  min-height: 50vh;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: silver;
  backdrop-filter: blur(5rem);

  & .Bio_Profile {
    @include displayFlex(column, $cent, $cent);
    gap: 1.5rem;
  }

  & .Loading {
    animation: Blink 1.5s alternate infinite;
  }

  label{
    font-family: "Press Start 2P", system-ui;
    @include displayFlex(column, $cent, $cent);
    gap: 1rem;
    margin: 0 0 4rem 0;
  }

  & .Submit_Profile{
    border-image-source: url("../../Images/ButtonBorder.svg");
    height: 2.5rem;
    position: relative;
    width: 10rem !important;
    border-style: solid;
    border-width: 4px;
    border-image-outset: 2;
    border-image-slice: 2;
    border-image-width: 2;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 2.5rem .5rem;
    color: #212529;
    background-color: #70b2ff;
    border-image-repeat: stretch !important;
    text-decoration: none;

    &::after {
      position: $abs;
      content: '';
      inset: -4px;
      box-shadow: inset -4px -4px blue;
    }

    &:hover{
      background-color: blue;
    }

    &:hover::after {
      box-shadow: inset -4px -4px #70b2ff;
    }
  }
}

@keyframes Blink {
  0% { opacity: 0}
  100% { opacity: 1 }
}