@import '../global.variables';

.Profile_Container {
  @include displayFlex(column, $cent, $cent);
  background-image: url("../../assets/Page_Assets/VillageUserProfile.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 115vh;
  width: 100%;
  font-family: "Press Start 2P", system-ui;

  & .Profile_Header {
    background-image: url("../../assets/Page_Assets/Background.png");
    background-size: cover;
    position: $rel;
    @include displayFlex(flex-start, $cent);
    min-width: 110vh;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    min-height: 20vh;
    border: 3px solid black;

    & .Dragon {
      width: 50px;
      animation: SideBySide 6s alternate infinite;
    }

    & .Profile_Pic {
      position: $abs;
      top: 5%;
      left: 2%;
    }
  }

  & .Profile_Body {
    position: relative;
    @include displayFlex(column, $cent, flex-start);
    min-height: 15vh;
    max-width: 110vh;
    background: silver;
    backdrop-filter: blur(5rem);
    border-left: 3px solid black;
    border-right: 3px solid black;

    & .User_Creds {
      @include displayFlex(row, space-around, baseline);
      min-width: 50vw;
      margin-top: 1.5rem;
      font-family: "Press Start 2P", system-ui;
    }

    & .User_Bio {
      @include displayFlex($cent, $cent);
      width: 75%;
      min-height: 10vh;
      border: 1px black;
    }
  }

  & .Profile_Footer {
    position: relative;
    @include displayFlex(column, space-around, $cent);
    min-height: 10vh;
    min-width: 110vh;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background: silver;
    backdrop-filter: blur(5rem);

    & .User_Stats {
      @include displayFlex(row, space-around, $cent);
      min-width: 50vw;
    }
  }
}

.Edit_Profile {
  border-image-source: url("../../assets/Page_Assets/ButtonBorder.svg");
  height: 2.5rem;
  position: relative;
  width: 10rem !important;
  border-style: solid;
  border-width: 4px;
  border-image-outset: 2;
  border-image-slice: 2;
  border-image-width: 2;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  font-size: .8rem;
  margin: 2.5rem .5rem;
  color: #212529;
  background-color: #70b2ff;
  border-image-repeat: stretch !important;
  text-decoration: none;

  &::after {
    position: $abs;
    content: '';
    inset: -4px;
    box-shadow: inset -4px -4px blue;
  }

  &:hover {
    background-color: blue;
  }

  &:hover::after {
    box-shadow: inset -4px -4px #70b2ff;
  }
}

@keyframes SideBySide {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}